:root {
  --primary-purple: #7A1FA2;
  --dark-purple: #5D1780;
  --light-purple: #A64BC2;
  --accent-lilac: #C89BD2;
  --lavender-bg: #F3E6F8;
  --text-light: #FFFFFF;
}

.navbar {
  display: flex;                 
  align-items: center;           
  justify-content: space-between; 
  background: white;
  padding: 0.5rem 2rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  cursor: pointer;
}


.logo {
  width: 80px;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}

/* Nav Container */
.container {
  margin: 0;    
  width: auto; 
}

/* Nav Links */
.nav-link {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-item a {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-size: 15px;
}

/* Dropdown */
.dropdown-menu {
  display: flex;
  gap: 10px; 
  padding: 19px;
  background-color: var(--text-light);
  border: 1px solid var(--accent-lilac);
  border-radius: 8px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  position: absolute;
  z-index: 50;
  min-width: 100px; 
  margin-top: 20px;
}

.dropdown-column {
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  width: 8em;
  font-weight: bold;
}

.dropdown-column strong {
  font-size: 18px;
  color: var(--dark-purple);
  margin-bottom: 25px;
}

.dropdown-column > a {
  font-size: 14px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.dropdown-column a:hover {
  background-color: rgb(125, 32, 120);
  color: #F3E6F8;
  padding: 2px 4px;
  border-radius: 4px;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-link {
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
  }

  .logo {
    width: 70px;
  }
}
